streamlit
openai
google-genai
google-generativeai
langchain
matplotlib
seaborn
tqdm
google-api-python-client
pandas
numpy
streamlit
altair==5.5.0
pyarrow
sqlalchemy
jinja2
pydantic
requests
click
gitpython
